{% extends "base.html" %}
{% block content %}
<h1 class="text-center">{{ tr.register_title }}</h1>
<form class="mt-4" method="post">
  <div class="mb-3">
    <label for="username" class="form-label">{{ tr.register_username }}</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="{{ tr.register_username_placeholder }}" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">{{ tr.register_password }}</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="{{ tr.register_password_placeholder }}" required>
  </div>
  <button type="submit" class="btn btn-success w-100">{{ tr.register_submit }}</button>
</form>

<!-- Ссылка на вход -->
<div class="text-center mt-3">
    <p>{{ tr.already_have_account }}</p>
    <a href="/{{ 'ru/login' if lang == 'ru' else 'login' }}" class="btn btn-outline-light">
        {{ tr.login_button }}
    </a>
</div>
{% endblock %}
